#trash {
    height: 120px;
    width: 120px;
    display: inline-flex;
    text-align: center;
    background-color: rgba(204, 104, 87, 1.0);
    position: fixed;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20%;
    transition: all .3s ease-in-out;
    margin-left: 500px;
}

#trash:hover {
    height: 130px;
    width: 130px;
    background-color: rgba(204, 104, 87, 0.7);
}

.newWidget {
    background-color: trans;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    /*border-radius: 20px;*/
}

.grid-stack-item-content {
    padding: 10px;
    border-radius: 20px;
}

.xyz .grid-stack .grid-stack-item .grid-stack-item-content {
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0;
}